name: CI

on:
  push:
    branches: [ main ]
    paths-ignore:
      - 'doc/**'
      - 'README.md'
      - '.readthedocs.yaml'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - 'doc/**'
      - 'README.md'
      - '.readthedocs.yaml'
  workflow_dispatch:

jobs:
  ubuntu-2204:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v6

      - name: Install prerequisites
        run: |
          sudo apt update
          sudo apt install -y make gcc

      - name: Build all
        run: |
          make

      - name: Run tests
        run: |
          if ls ./ | grep "virts.ko" ; then echo "Pass"; else echo "Failed" && exit 1; fi;
